<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login startuplink</title>
    <link rel="stylesheet" href="/static/css/all.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/greeting.css">
</head>
<body>
    <main role="main">
        <header>
            <div class="navbar bg-header box-shadow">
                <div class="container d-flex justify-content-between">
                     <h4 class="jumbotron-heading">
                         <a href="/" class="navbar-brand d-flex align-items-center header-link">
                             <img src="/static/images/startupLink-64.png" height="30" width="30"> startuplink
                         </a>
                     </h4>
                </div>
            </div>
        </header>
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading"><img src="/static/images/startupLink-64.png" height="30" width="30"> startuplink</h1>

                <p class="lead text-muted">This app allows you to save your tabs across browsers which you use often.</p>
                <p>
                    <a href="/login" class="btn btn-primary my-2">Login to try it</a>
                </p>
            </div>

            <div>
                <h3>Why I need to use startuplink?</h3>
                <p>I noticed that I frequently keep important tabs pinned in my browser. However, whenever I close the browser and reopen it, the pinned tabs vanish.</p>
                <p>To tackle this inconvenience, I developed a Chrome plugin that enables you to save your links and reopen them whenever required.</p>
                <p>You can access this handy plugin <a href="https://chrome.google.com/webstore/detail/startuplink/gpennaodjcdjpdpdpkkhjfljciofbkcl" target="_blank">here</a></p>
            </div>
            <div class="card-text">
                <p>This service also lets you synchronize your tabs across multiple browsers, making it even more convenient for you.</p>
            </div>
        </section>
    </main>

    <footer class="text-muted">
        <div class="container">
            <p>© <a href="mailto:dev.liakhov@gmail.com">Dmytro Liakhov</a></p>
        </div>
    </footer>
</body>
</html>
